<div class="text-center">
  <h2 class="jumbotron">
    Traveller Info
  </h2>
</div>
<!--<div class="row">-->
  <!--<div class="col-md-7">-->
    <!--<app-traveller></app-traveller>-->
  <!--</div>-->
  <!--<div class="col-md-5">-->
    <!--<app-traveller-list></app-traveller-list>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <app-traveller></app-traveller>
</div>

<div clas="row">
<br/>
</div>

<div class="row" align="center">
  <div class="col-md-8">
    <app-traveller-list></app-traveller-list>
  </div>
  <div class="col-md-4">
    <app-messaging></app-messaging>
  </div>
</div>

