<!--<table class="table-sm table-hover">
  <tr>
    <td><a routerLink="/Travellers"><button type="button" class="btn-ins waves-light">Register</button></a></td>
    <td></td>

    <td></td>
  </tr>
  <tr>
    <td><a routerLink="/TravellerSearch"><button type="button" class="btn-ins waves-light">Search Travel Companion</button></a></td>
  </tr>
</table> -->


<div class="image">
  <div class="row">
    <div class="col-sm-3 offset-sm-6 mt-5">
      <button routerLink="/Travellers" class="customButton" type="button">Register Travel Dates</button>
    </div>
    <div class="col-sm-3 offset-sm-0 mt-5">
      <button routerLink="/TravellerSearch" class="customButton" type="button">Find Travel Companion</button>
    </div>
  </div>
  <!-- <button class="open-button" onclick="document.getElementById('myForm').style.display = 'block';">Chat</button> -->
  <img src="../../../assets/img/chaticon.png" class="open-button" onclick="document.getElementById('myForm').style.display = 'block';"/>
  <div class="chat-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
      <label><b>List of Messages</b></label>
      <!--<textarea placeholder="Type message.." name="msg" required></textarea>-->
      <table class="table-sm table-hover">
        <tr *ngFor="let message of newMessageList">
          <td>{{message.senderId.split('@')[0]}}</td>
          <td>{{message.messageText}}</td>
        </tr>
      </table>
      <button type="button" class="btn btn-sm cancel" onclick="document.getElementById('myForm').style.display = 'none';">Close</button>
    </form>
  </div>
</div>
