<div class="row image">
  <div class="col-md-1"></div>
  <div class="col-md-12">
  <div class="panel panel-primary panel-transparent">
    <div class="panel-heading">
      <h3 class="panel-title">Please, enter your details</h3>
      <form class="form-inline" #travellerSearchForm="ngForm" (ngSubmit)="onSearch(travellerSearchForm)">
        <div class="form-group mr-1">
          <input class="form-control" name="name" #name="ngModel" [(ngModel)]="travellerService.name" placeholder="Full Name">
        </div>
        <div class="form-group mr-2">
          <!--<label>From Airport</label>-->
          <input class="form-control" name="fromAirport" #fromAirport="ngModel" [(ngModel)]="travellerService.fromAirport" placeholder="From Aiport">
        </div>
        <div class="form-group mr-2">
          <!--<label>To Airport</label>-->
          <input class="form-control" name="toAirport" #toAirport="ngModel" [(ngModel)]="travellerService.toAirport" placeholder="To Airport">
        </div>
        <div class="form-group mr-2">
          <!--<label>From Date</label>-->
          <input class="form-control" name="fromDate" #fromDate="ngModel" [(ngModel)]="travellerService.fromDate" placeholder="From Date (MM/DD/YYYY)">
        </div>
        <div class="form-group mr-2">
          <!--<label>To Date</label>-->
          <input class="form-control" name="toDate" #toDate="ngModel" [(ngModel)]="travellerService.toDate" placeholder="To Date (MM/DD/YYYY)">
        </div>
        <div class="form-group">
          <button class="btn btn-default" type="submit">
            <i class="fa fa-floppy-o"></i>
            Search</button>
        </div>
      </form>
    </div>
    <br>
    <br>
    <div class="panel-body">
      <h6 class="text-center">Travellers Info</h6><br/>
      <table class="table-sm table-hover">
        <tr *ngFor="let traveller of travellerList">
          <td>{{traveller.name}}</td>
          <td>{{traveller.fromAirport}}</td>
          <td>{{traveller.toAirport}}</td>
          <td>{{traveller.fromDate}}</td>
          <td>{{traveller.toDate}}</td>
          <td>
            <a class="btn" (click)="onSend()">
              <i class="fa fa-comment-o"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  </div>
</div>






