.image{
  height:40em; background-size:cover; width:auto;
  background-image:url('./../../../assets/img/image2m.png');
  background-position:50% 50%;
}
/*table {*/
  /*width: 100%;*/
/*}*/
/*.data-table{*/
  /*width: 80%;*/
  /*margin: 20px auto;*/
/*}*/
