<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Manasa Pola">
</head>

<div class="container">
  <body class="text-center">

  <form class="form-signin" (ngSubmit) = "onSubmit(loginForm)" #loginForm="ngForm" >
    <h5>Please sign in</h5>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input ngModel name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <div class="center">
      <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid" type="submit">Login</button>
    </div>

    <div class="mt-4 text-center">
      Don't have an account? <a routerLink="/">Create One</a>
    </div>
    <p class="mt-5 mb-3 text-muted">Copyright &copy; 2019 &mdash; Cloud Computing Team</p>
  </form>
  </body>
</div>

</html>

